html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", FreeSans, Arimo, "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
}
.login {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  /*background-color: '#eee';*/
  /*background-image: url('imgs/defaultBG.png');*/
  background-image:linear-gradient(-141deg, #ee2351 0%, #c00059 100%);
  background-position: center;
}
.login h2 {
  text-align: center;
  line-height: 1;
  font-size: 28px;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 54px;
}
h2:after {
  content: "";
  width: 48px;
  height: 3px;
  background-image: linear-gradient(-141deg, #ee2351 0%, #c00059 100%);
  position: absolute;
  z-index: 1;
  left: 177px;
  top: 35px;
}
.login .wrap {
  position: absolute;
  top: 25%;
  width: 650px;
  left: 55%;
  transform: translateX(-50%);
  box-sizing: border-box;
}
@media screen and (max-width: 1366px) {
  .wrap {
    top: 10% !important;
  }
}
.login .form {
  position: absolute;
  right: 0px;
  width: 540px;
  height: 520px;
  padding: 50px 70px 40px 70px;
  border-radius: 10px;
  /*background: #fff;*/
  background-image:linear-gradient(-180deg, #fff8f8 0%, #ffe2e3 99%);
  box-shadow:0 0 13px 0 rgba(200,7,88,0.35);
  box-sizing: border-box;
}

.login .wrap-left {
  position: absolute;
  left: -240px;
  top: 46px;
  width: 400px;
  height: 440px;
  padding: 40px 50px;
  border-radius: 10px;
  /*background: #fff;*/
  background-image:linear-gradient(-180deg, #ff7a95 0%, #fea885 100%);
  box-shadow:0 0 14px 0 #b40047;
  box-sizing: border-box;
}

.login .wrap-img {
  position: absolute;
  top: 113px;
  width: 350px;
  left: -188px;
  z-index: 999;
}
.login .form input {
  margin-bottom: 16px;
}
.login .login-button {
  position: relative;
}
.login .login-button:after {
  content: ' ';
  position: absolute;
  right: 70px;
  top: 7px;
  width: 29px;
  height: 29px;
  background: url('imgs/loading.svg');
  animation: 1s rotate linear infinite;
  transform-origin: center;
}
.form p{
  margin: 10px 0;
}
/*企业域名页面*/

.company_domain input{
  margin-top: 60px !important;
  margin-bottom: 0px !important;
}
.company_logo {
  display: block;
  width: 95%;
}



@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login .hidden {
  display: none;
}
.login .setting {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 16px;
}
.setting .forget {
  font-size:16px;
  color:#3271e9;
}
.forget:hover {
  cursor: pointer;
}
.login .link {
  color: #5b81ff;
  font-size: 16px;
  line-height: 1;
  align-self: center;
  cursor: pointer;
}
.login .right {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.login .button {
  margin-bottom: 10px;
  margin-top: 50px;
}
.login .checkbox-label {
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
.login .checkbox-label > input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
}
.login .checkbox-label > input[type=checkbox]:checked + .checkbox {
  border-color: #5b81ff;
  background: url('imgs/selectIcon.png') center no-repeat;
}
.login .checkbox-label .checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
  border-radius: 1px;
  margin-top: 1px;
  margin-right: 5px;
  vertical-align: top;
  box-sizing: border-box;
}
.login .checkbox-label .checkbox:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login .settingServer {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px 50px;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}
.login .settingServer > input {
  margin-bottom: 40px;
}
.login .settingServer .back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.company_userMessage .back {
  position: absolute;
  top: -22px;
  left: -46px;
  cursor: pointer;
}
.company_userMessage .personal-account {
  display: flex;
  align-items: baseline;
}
.company_userMessage .personal-account span {
  width: 119px;
  font-size: 16px;
}
#QRcode, #back_login {
  position: absolute;
  right: -49px;
  top: -56px;
  width: 60px;
}
#QRcode:hover {
  cursor: pointer;
}
#back_login:hover {
  cursor: pointer;
}
#code_pack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 155px;
}
#code_pack:hover {
  cursor: pointer;
}
/*#qrcode_img {*/
  /*width:100px;*/
  /*height:100px;*/
/*}*/
#code_tip {
  padding-left: 20px;
  display: none
}
#code_tip img {
  display: block;
  width: 130px;
}
/*扫描成功*/
#code_pack_qrcodeSuccess, #code_pack_qrcodeInvalid{
  text-align: center;
}
#code_pack_qrcodeSuccess, #code_pack_qrcodeInvalid .refresh{
  border-radius:2px;
  margin-top: 30px;
}
#code_pack_qrcodeSuccess img {
  width: 50px;
}
#code_pack_qrcodeSuccess p {
  margin: 5px;
}
/*二维码失效*/
#code_pack_qrcodeInvalid {
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 10px 0;
  background: url("./imgs/invalid.png");
  background-size: 100% 100%;
}

.forgetPassword {
  background: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(51,51,51,0.20);
  border-radius: 2px;
  width: 460px;
  padding: 40px;
  height: 180px;
  position: absolute;
  z-index: 999;
  display: none;
  top: 133px;
}
.forgetPassword .bottom {
  text-align: right;
}
.forgetPassword button {
  background:#464974;
  border-radius:4px;
  border: none;
  color: #FFFFFF;
  width:88px;
  height:40px;
}
.login .row {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  bottom: 155px;
  text-align: center;
  width: 397px;
  height: 36px;
}
.login .error-tip {
  color: #fb5343;
  font-size: 16px;
  line-height: 1;
}
.error-tip img {
  padding: 0px 5px;
  vertical-align: bottom;
}
.nav {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: #f7f7f7;
  overflow: hidden;
}
.nav header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  color: #fff;
  background-image: linear-gradient(-154deg, #302663 0%, #3861bd 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav .title {
  display: flex;
  height: 48px;
  line-height: 48px;
  vertical-align: center;
  margin-bottom: 40px;
}
.nav .title > h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  margin-left: 20px;
}
.nav .title > img {
  width: auto;
  height: 48px;
}
.nav .nav-tabs {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  background: #f7f7f7;
}
.nav .linkitems-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav .linkitems {
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: -20px;
}
@media screen and (max-width: 1200px) {
  .nav .linkitems {
    justify-content: center;
  }
}
.nav .linkitem {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 2px;
  background: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.nav .linkitem-content {
  font-size: 14px;
  color: #666666;
  line-height: 14px;
}
.nav .linkitem-icon img {
  width: 33px;
  margin-bottom: 10px;
}
.search-box {
  position: relative;
  width: 720px;
}
/* 浏览器通告栏名单*/
.notice-wall {
  padding: 10px 40px;
  max-height: 120px;
  overflow: auto;
}
.notice-wall h3 {
  margin-bottom: 5px;
}
.notice-wall span {
  padding: 0px 10px;
  color: red;
}
.search-box > span {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0 10px;
  background-position: center;
  background-image: url('imgs/search_icon.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}
.am-tabs {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.am-tabs .am-tabs-bd {
  display: flex;
  justify-content: center;
  border: 0;
}
.am-tabs .am-tabs-bd .am-tab-panel {
  flex: 1;
}
.am-tabs .am-tabs-nav {
  display: inline-block;
  border-bottom: 1px solid #e7e7ef;
}
.am-tabs .am-nav-tabs > li {
  margin: 0;
  margin-right: 40px;
}
.am-tabs .am-nav-tabs > li:last-child {
  margin-right: 0;
}
.am-tabs .am-nav-tabs > li > a {
  color: #999;
  border: 0;
  padding: 5px 2px;
  margin-right: 0;
  box-sizing: border-box;
  user-select: none;
}
.am-tabs .am-nav-tabs > li > a:hover {
  box-sizing: border-box;
  color: #5a96ff;
  background: none;
  border: 0px solid transparent;
}
.am-tabs .am-nav-tabs > li.am-active > a,
.am-tabs .am-nav-tabs > li.am-active > a:focus,
.am-tabs .am-nav-tabs > li.am-active > a:hover {
  box-sizing: border-box;
  color: #333;
  background: none;
  border: 0;
  border-bottom: 2px solid #5a96ff;
}
/*
* global
* ===============================
*/
.show {
  display: block;
}
.hide {
  display: none;
}
.field {
  display: inline-block;
  font-size: 14px;
  line-height: 1em;
  color: #333;
  padding: 10px 14px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  background: #ffffff;
  box-sizing: border-box;
  outline: 0;
}
.field:active,
.field:focus {
  outline: 0;
  border-color: #5b81ff;
}
.field::-moz-placeholder {
  color: #dddddd;
}
.field::-webkit-input-placeholder {
  color: #dddddd;
  line-height: 19px;
}
.field:-ms-input-placeholder {
  color: #dddddd;
}
.field.error {
  border-color: #fb5343;
}
.field-block {
  width: 100%;
}
.button {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  background-image:linear-gradient(-225deg, #ff2929 0%, #ed0072 100%);
  border-radius: 2px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
}
.block {
  width: 100%;
}

/* 欢迎页样式 */
.hello {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: Microsoft YaHei!important;
  overflow: auto;
}

.hello .signin {
  padding-left: 0;
}