#personal-data-section input {
  color: #333;
  border: 0;
  padding: 8px;
  background: #f7f7f7;
}
#personal-data-section > h3 {
  margin-top: 20px;
  margin-bottom: 13px;
}

.personal-data-login {
  display: block;
}

.personal-data-logout {
  display: inline-block;
  margin-right: 20px;
}

.personal-data-label {
  display: flex;
  height: 30px;
  align-items: center;
  margin-bottom: 1px;
}
.personal-data-label > span {
  margin-right: 10px;
}
.personal-data-label:hover > .personal-data-edit {
  display: inline-block;
}
#personal-data-section .personal-data-title {
  width: 64px;
  margin-right: 0; 
}
#personal-data-section .personal-data-field {
  display: none;
  margin-right: 10px;
}

#personal-data-avatar {
  height:52px;
  margin-bottom: 10px;
}

#personal-data-avatar-preview-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border:1px solid #dddddd;
  border-radius:100%;
  margin-right: 10px;
  background:#eeeeee;
  box-sizing: border-box;
}
#personal-data-avatar-preview-wrap img {
	width: inherit;
    border-radius: 100%;
}

.personal-data-edit {
  display: none;
  width: 14px;
  height: 14px;
  border-radius: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURUxpcZmZmZqampmZmZmZmZqampmZmWJPBTwAAAAGdFJOUwBnIeC1oyK1HJgAAAA8SURBVAjXY3BLS0tLYGBgAGEGpgAIrSwAppkMIeJALogGctlANJALokGyIBokC6IDGSA0A1YaZE9aWgoAbGwLOQ97zTEAAAAASUVORK5CYII=');
}
.personal-data-confirm {
  display: none;
  border: 1px solid #cccccc;
  border-radius: 2px;
  width: 38px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAMAAAAYGszCAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABdUExURUxpcZmZmZmZmZmZmaqqqpmZmZqamrS0tJmZmZmZmZqampqampmZmZmZmZmZmZqampubm5mZmZmZmZmZmZmZmZqampmZmZycnJqampmZmZmZmZmZmZqampubm5mZmcpNgzwAAAAedFJOUwDj9q0KlGQD+v3DnVVOpVxHQcvp8DK2EyPPfo0rOwp2VnwAAABuSURBVHjabc5XEoAgDARQigix9+7e/5hiV5SfJS8zSdjntYH8Wo/eNa8A71wLUP7ZZHNQ+rYGVb1+OOSp+jSWCyR6NwkxH/3MINwsgcivSbGBshHCZI+dEWFkCiZ+XZISClDk3OcTKLXpKPcf1QIarwV/zBbrLwAAAABJRU5ErkJggg==');
}
.personal-data-cancel {
  display: none;
  border: 1px solid #cccccc;
  border-radius: 2px;
  width: 38px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURZmZmZmZmUxpcZmZmZmZmZmZmUGljGgAAAAFdFJOU94eAM2tkluRcwAAAENJREFUCNdjcBZSUlJSNGEwZQTSAsEMAgFCSoqsjAxArARkMwAJQSCTASjIAJRiACoKBSpF0DBxqDqYPpg5MHOh9gAAnioL9TVYu1MAAAAASUVORK5CYII=');
}