<<<<<<< HEAD
#upload-avatar-section {
  position: relative;
  width: 460px;
  min-height: 402px;
  padding: 30px 40px;
  border-radius:2px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(51,51,51,0.20);
}

#upload-avatar-section > h3 {
  font-size:18px;
  color:#333333;
  line-height:18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

#upload-avatar-section img {
  max-width: 100%;
}

#upload-avatar-section > label {
  display: inline-block;
  font-size: 12px;
  color: #5b81ff;
  letter-spacing: 0;
  line-height: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#upload-avatar-section > p {
  font-size: 12px;
  line-height: 1;
  color: #666666;
  margin-bottom: 20px;
}

.upload-avatar-wrap {
  display: flex;
}

.upload-avatar-wrap > div {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.upload-avatar-wrap > div:nth-child(2) {
  flex-direction: column;
}

.upload-avatar-crop {
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.upload-avatar-preview {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.upload-avatar-group {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}

#upload-avatar-trigger {
  font-size:12px;
  color:#5b81ff;
  line-height: 1;
  cursor: pointer;
}

#upload-avatar-conform {
  outline: none;
  color: #fff;
  padding: 9px 26px;
  border: 1px solid #464974;
  border-radius: 2px;
  margin-right: 20px;
  background: #464974;
}

#upload-avatar-cancel {
  padding: 9px 26px;
  border: 1px solid #464974;
  border-radius: 2px;
  background: #ffffff;
}
||||||| parent of ffef05f456bc... Add untracked files after rebase
=======
#upload-avatar-section {
  position: relative;
  width: 460px;
  min-height: 402px;
  padding: 30px 40px;
  border-radius:2px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(51,51,51,0.20);
}

#upload-avatar-section > h3 {
  font-size:18px;
  color:#333333;
  line-height:18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

#upload-avatar-section img {
  max-width: 100%;
}

#upload-avatar-section > label {
  display: inline-block;
  font-size: 12px;
  color: #5b81ff;
  letter-spacing: 0;
  line-height: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#upload-avatar-section > p {
  font-size: 12px;
  line-height: 1;
  color: #666666;
  margin-bottom: 20px;
}

.upload-avatar-wrap {
  display: flex;
}

.upload-avatar-wrap > div {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.upload-avatar-wrap > div:nth-child(2) {
  flex-direction: column;
}

.upload-avatar-crop {
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.upload-avatar-preview {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.upload-avatar-group {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}

#upload-avatar-trigger {
  font-size:12px;
  color:#5b81ff;
  line-height: 1;
  cursor: pointer;
}

#upload-avatar-conform {
  outline: none;
  color: #fff;
  padding: 9px 26px;
  border: 1px solid #464974;
  border-radius: 2px;
  margin-right: 20px;
  background: #464974;
}

#upload-avatar-cancel {
  padding: 9px 26px;
  border: 1px solid #464974;
  border-radius: 2px;
  background: #ffffff;
}
>>>>>>> ffef05f456bc... Add untracked files after rebase
