#rdc_reset_password{
	width:380px;
	padding:10px 20px;
}
#rdc_reset_password .content-area p{
	line-height: 14px;
	font-size: 12px;
	color: #666;
}
#rdc_reset_password .rdc_reset_frm > h1{
	text-align: center;
	font-size:18px;
	color: #333;
}
.rdc_reset_frm{

}

.rdc_frm_row{
	display: flex;
	padding: 8px 0;
}
.rdc_frm_lbl{
	display: inline-block;
	height: 34px;
	line-height: 34px;
	font-weight: 500;
	color: #333;
	width: 100px;
	font-size: 14px;
}
.rdc_frm_field{
	flex: 1;
}
.rdc_frm_field input.rdc_frm_input{
	display: block;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 2px;
	max-width: 300px;
	padding: 0 6px;
	width: 100%;
}
.rdc_frm_input:focus{
	border: 1px solid #5c6092;
}
.rdc_frm_valid{
	display: none;
	color: #fd304a;
	font-size: 12px;
}
.rdc_frm_valid.on{
	display: block;
	line-height: 18px;
}
.rdc_frm_row:after{
	clear: both;
}

.rdc_footer{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
button.rdc_btn{
	display: inline-block;
	background: #fff;
	border: 1px solid #464974;
	border-radius: 2px;
	padding: 0 24px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #464974;
	font-size: 14px;
	margin: 10px;
}
button.rdc_btn.rdc_btn_primary{
	background: #464974;
	color: #fff;
}

.rdc_reset_status{
	padding: 20px;
	display: none;
}
.rdc_reset_icon{
	width:70px;
	height: 70px;
	margin: 10px auto;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
}
.rdc_reset_icon.ok{
	background-image: url(./changePsw/success_icon.png);
}
.rdc_reset_icon.fail{
	background-image: url(./changePsw/fail_icon.png);
}
.rdc_reset_status>h5{
	font-size: 18px;
	color: #333;
	text-align: center;
	line-height: 2;
	margin:0;
	font-weight: 500;
}
.rdc_reset_status>p{
	text-align: center;
	font-size: 14px;
	color: #666;
	line-height: 1.6;
	margin: 0;
}